@model MedicalClinic.Models.Appointment

@{
    ViewData["Title"] = "Create";
}

@if (ViewBag.doctorPhoto != null)
{
    <img style="width:120px;height:120px ; img-fluid; border-radius:30px" src="data:image/*;base64,@(Convert.ToBase64String(ViewBag.doctorPhoto))">
}
@ViewBag.doctorName

<h1>Create</h1>

<h4>Appointment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-route-doctorId="@ViewBag.doctorId">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>

            </div>
            <div class="form-group">
                <label asp-for="Reason" class="control-label"></label>
                <input asp-for="Reason" class="form-control" maxlength="50"/>
                <span asp-validation-for="Reason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
